/* Perspective and 3D Transform */
.perspective {
    perspective: 1000px;
  }
  
  .transform-style-preserve {
    transform-style: preserve-3d;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  